
body{
 	font-family: Tahoma, sans-serif;
 	line-height: 1.5; 
 	color: #333333;
 }
 .section{
 	padding: 10% 10%;

 }

.header {
	margin-top: 80px;
	text-align: center;
	font-size: 24px; 
}
.header span{
	display: block;
	font-weight: 300px; 
	
}
.header strong {
	text-transform: uppercase;
	font-weight: 900;  
}
 .main{
 	margin-top: 80px;
 	text-align: center;

 }
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form{
	border:  5px solid #2727d9;
	padding: 20px;
	text-align: center;
	margin-left: 30px;

}
.font-header {
	text-align: center;
	font: 40px;
	font-weight: 900px;
	margin-bottom: 30px;
}
form input{
	margin-top: 20px;
	width: 300px;
	padding: 17px;
	border: 1px solid #333;
	font-size: 17px;
	display: block;
}
.btn{
	font-size: 18px;
	font-weight:900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height:60px; 
	margin-top: 11px;
	display: block;
	margin: 11px auto;

}
.col{
	display: inline-block;
	text-align: center;
	margin: 0px 50px;
}
.feature header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}
.feature{
	margin: 60px auto;
	text-align: center;
}








